<!DOCTYPE html>
<html>

<head>

<title>Add Customer</title>

<link rel="preconnect"
href="https://fonts.googleapis.com">

<link rel="preconnect"
href="https://fonts.gstatic.com"
crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Orbitron:wght@500;700&display=swap"
rel="stylesheet">

<link rel="stylesheet"
href="/static/style.css">

</head>

<body>

<div class="form-card">

<h1>
✨ Add Customer
</h1>

<form method="POST">

<input
<input
type="text"
name="q"
id="name"
placeholder="🔍name">
required>

<input
type="email"
name="email"
placeholder="📧 Email"
required>

<input
type="text"
name="phone"
placeholder="📱 Phone"
required>

<input
type="text"
name="city"
placeholder="🏙 City"
required>

<input
type="number"
name="source"
placeholder="📍 Source (0-2)"
required>

<input
type="number"
name="interest_level"
placeholder="⭐ Interest Level (0-2)"
required>

<input
type="number"
name="last_contact_days"
placeholder="📅 Last Contact Days"
required>

<input
type="number"
name="converted"
placeholder="✅ Converted (0/1)"
required>

<button type="submit">

🚀 Add Customer

</button>

</form>

<br>

<a href="/">

<button>

⬅ Dashboard

</button>

</a>

</div>

</body>

</html>